:root {
    --color-background: #EEEEEE;
    --color-text: #333333;
    --font2: 'Roboto', sans-serif;
    --font: 'Lato', sans-serif;
}

body {
    background-color: white;
    font-family: var(--font);
    color: var(--color-text);
}

main {
    background-color: var(--color-background);
    margin: 30px auto;
    border-radius: 5px;
    padding: 20px 0px;
    text-align: center;
}

main #title {
    font-size: 40px;
    font-weight: 700;
}

figure {
    background-color: white;
    margin: 1em 1em 40px 40px;
    padding: 0.7rem;
}

figure img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

figure figcaption {
    margin-top: 1rem;
    line-height: 1.5rem;
}

main section {
    text-align: start;
}

main section h3 {
    text-align: center;
}

main section ul {
    margin: 3rem auto;
    max-width: 550px;
}

main section ul li {
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
}

main blockquote {
    max-width: 550px;
    margin: 3rem auto;
    text-align: start;
}

main blockquote p {
    font-style: italic;
    line-height: 1.5rem;
}

footer h3 a {
    color: #807199;
}